

<div class="container my-5">
    <section>
      
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Admin</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">Statistic Data</h3>
      <hr class="w-header my-4">
  
      <div class="row white-text">
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Primary -->
          <div class="card classic-admin-card  ">
            <div class="card-body py-3">
              <i class="far fa-money-bill-alt fa-2x yellowcolor"></i>
              <p class="small">SALES</p>
              <h4>2000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (25%)</p>
            </div>
          </div>
          <!-- Card Primary -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Yellow -->
          <div class="card classic-admin-card warning-color ">
            <div class="card-body py-3">
              <i class="fas fa-chart-line fa-2x yellowcolor"></i>
              <p class="small">SUBSCRIPTIONS</p>
              <h4>200</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Less than last week (25%)</p>
            </div>
          </div>
          <!-- Card Yellow -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Blue -->
          <div class="card classic-admin-card light-blue lighten-1">
            <div class="card-body py-3">
              <i class="fas fa-chart-pie fa-2x yellowcolor"></i>
              <p class="small">TRAFFIC</p>
              <h4>20000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (75%)</p>
            </div>
          </div>
          <!-- Card Blue -->
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-xl-3 col-md-6 mb-4">
  
          <!-- Card Red -->
          <div class="card classic-admin-card red accent-2">
            <div class="card-body py-3">
              <i class="fas fa-chart-bar fa-2x yellowcolor"></i>
              <p class="small">ORGANIC TRAFFIC</p>
              <h4>2000</h4>
            </div>
            <div class="progress md-progress">
              <div class="progress-bar grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="card-body pt-2 pb-3">
              <p class="small mb-0">Better than last week (25%)</p>
            </div>
          </div>
          <!-- Card Red -->
  
        </div>
        <!-- Grid column -->
  
      </div>
  
    </section>
  </div>
  <div class="container my-5 py-5">


    <!--Section: Block Content-->
    <section>
  
      <div class="card">
        <div class="card-body mr-md-1">
  
          <!--Grid row-->
          <div class="row mb-3">
  
            <!--Grid column-->
            <div class="col-md-8 mb-4">
  
              <canvas id="barChart" height="100"></canvas>
  
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-4 mb-1 mb-md-0">
  
              <h5 class="text-center font-weight-bold mb-4">E-commerce data</h5>
  
              <div class="d-flex justify-content-between">
                <small class="text-muted">Add products to cart</small>
                <small><span><strong>160</strong></span>/<span></span>200</small>
              </div>
              <div class="progress md-progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
  
              <div class="d-flex justify-content-between">
                <small class="text-muted">Complete Purchase</small>
                <small><span><strong>310</strong></span>/<span></span>400</small>
              </div>
              <div class="progress md-progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
  
              <div class="d-flex justify-content-between">
                <small class="text-muted">Visit Premium Page</small>
                <small><span><strong>480</strong></span>/<span></span>800</small>
              </div>
              <div class="progress md-progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
  
              <div class="d-flex justify-content-between">
                <small class="text-muted">Send Inquiries</small>
                <small><span><strong>250</strong></span>/<span></span>500</small>
              </div>
              <div class="progress md-progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
  
            </div>
            <!--Grid column-->
  
          </div>
          <!--Grid row-->
  
          <!--Grid row-->
          <div class="row text-center">
  
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
  
              <p class="text-success mb-1"><i class="fas fa-caret-up mr-2"></i>17%</p>
              <p class="font-weight-bold mb-1">$35 210</p>
              <p class="text-uppercase mb-md-0">Sales</p>
  
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
  
              <p class="text-danger mb-1"><i class="fas fa-caret-down mr-2"></i>17%</p>
              <p class="font-weight-bold mb-1">4 578</p>
              <p class="text-uppercase mb-md-0">Subscriptions</p>
  
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-4 mb-0">
  
              <p class="text-dark mb-1"><i class="fas fa-caret-left mr-2"></i>0%</p>
              <p class="font-weight-bold mb-1">678 934</p>
              <p class="text-uppercase mb-0">Traffic</p>
  
            </div>
            <!--Grid column-->
  
          </div>
          <!--Grid row-->
  
        </div>
      </div>
  
  
    </section>
    <!--Section: Block Content-->
  
  
  </div>
  <div class="container my-5 pt-5 pb-3 px-4 z-depth-1">


    <!--Section: Block Content-->
    <section>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <h5 class="text-center font-weight-bold mb-4">Today</h5>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Add products </small>
            <small><span><strong>160</strong></span>/<span></span>200</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Complete Purchase</small>
            <small><span><strong>310</strong></span>/<span></span>400</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Visit Premium Page</small>
            <small><span><strong>480</strong></span>/<span></span>800</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Send Inquiries</small>
            <small><span><strong>250</strong></span>/<span></span>500</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <h5 class="text-center font-weight-bold mb-4">Yesterday</h5>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Add products to cart</small>
            <small><span><strong>160</strong></span>/<span></span>200</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Complete Purchase</small>
            <small><span><strong>310</strong></span>/<span></span>400</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Visit Premium Page</small>
            <small><span><strong>480</strong></span>/<span></span>800</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <div class="d-flex justify-content-between">
            <small class="text-muted">Send Inquiries</small>
            <small><span><strong>250</strong></span>/<span></span>500</small>
          </div>
          <div class="progress md-progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Block Content-->


  </div>

  <div class="container my-2 py-2">
    <section>

      <div class="card">
        <div class="card-body">

          <h5 class="text-center font-weight-bold mb-3">Geolocation analysis</h5>

          <hr>

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

              <div id="color-map" style="height: 300px;"></div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Country</th>
                    <th scope="col">Number</th>
                    <th scope="col">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><i class="united states flag"></i></th>
                    <td>USA</td>
                    <td>45 934</td>
                    <td>45%</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="germany flag"></i></th>
                    <td>Germany</td>
                    <td>32 456</td>
                    <td>68%</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="poland flag"></i></th>
                    <td>Poland</td>
                    <td>12 344</td>
                    <td>34%</td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="france flag"></i></th>
                    <td>France</td>
                    <td>67 477</td>
                    <td>53%</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
      </div>


    </section>
    <!--Section: Content-->


  </div>

<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Component</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>